*,html,body
{
margin: 0px;
padding: 0px;
}


.container
{
height:70vh;
width:70%;
margin: auto;
margin-top:100px; 
border: 0px solid black;
}

.slides
{
border: 0px solid red;
height:350px;
width:350px;
display:inline-block;
position: absolute;
top:150px;
box-shadow: 1px 2px 4px black;
border-radius: 10px;
transition:100ms;
}


.active
{

}


#slide1
{
left:500px;
background-color: antiquewhite;
z-index:10000;
top:150px;
background-image: url(photo1.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}


#slide2
{
left:500px;
background-color:peachpuff;
z-index:9999;
top:150px;
background-image: url(photo2.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}


#slide3
{
left:500px;
background-color:lightpink;
z-index:9998;
top:150px;
background-image: url(photo3.jpeg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

